* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    font-family: "Lora", serif;
    font-size: 1.5rem;
}

a {
    text-decoration: none;
}

img {
    width: 100%;

}

/* header */
.header__container {
    margin-bottom: 2rem;
    background: url(..//assets/img/Fondo\ Header.PNG);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
}

/* header 1 */
.menu {
    display: flex;
    padding: 0 4rem;
    background-color: #7777775e;
    border-bottom: 0.5px solid #ffffffd0;
}

.menu a {
    color: #fff;
}

.menu a:hover {
    color: #000;
}

.logo__container {
    flex: 1 1 auto;
}

.logo {
    font-size: 4rem;
    font-weight: 800;
}

.menu__nav__container {
    flex: 2 1 auto;
    display: flex;
    justify-content: space-around;
}

.nav__item {
    padding: 2rem 0;
    text-transform: uppercase;
    font-size: clamp(1.5rem, 25%, 2rem);
    margin:clamp(0.4rem, 15vw, 1.5rem);
    margin-top: 0;
}

.nav__container {
    flex: 1 1 auto;
    text-align: end;
    padding: 2rem;
}

.red__social {
    padding: 0 1rem;
}
.logo{
    font-size: clamp(2.2rem, 3vw, 5rem);
}

/* header 2 */
.header__2 {
    display: flex;
    height: clamp(80vh, 91vh, 95vh); /* Este height acá para que el align item surta efecto */
    justify-content: center;
    align-items: center;
}
.header__2 {
    text-align: center;
    text-transform: capitalize;
    font-size: clamp(2rem, 3vw, 3rem);
    text-shadow: 0.5rem 0.5rem 1rem #000, -0.5rem -0.5rem 1rem #000;
}


/* full page */
/* section */
.section__container {
    display: flex;
    flex: 2 1 auto;
    position: relative;
    padding: 0 4rem;
}


/* article on section */
.article__container {
    display: flex;
    flex: 1 1 auto;
    flex-flow: row wrap;
    background-color: #eeecec;
    gap: 1.5rem;
    margin-right: 1rem;
}

.item__article {
    background-color: #d6d6d6;
    flex: 1 1 40%;
}
.h2__article{
    font-size: clamp(1.3rem, 2rem, 2.5rem);
}

.figure__article {
    position: relative;
}

.img__article {
    width: 100%;
}

.h__article {
    color: #fff;
    position: absolute;
    bottom: 0;
    margin-bottom: 4rem;
}

.h2__article {
    font-size: 2rem;
    text-transform: uppercase;
    bottom: 0;
    margin-bottom: 1rem;
}

.button__article {
    display: inline-block;
    /* Solo display block ocupa todo el ancho del contenedor */
    margin-top: 1.2rem;
    padding: 1rem;
    color: #fff;
    background-color: #000;
}

.button__article:hover {
    background-color: #693d1f;
}

/* inicio 1 2 ... Fin */
.article_nav {
    flex: 1 1 100%;
    margin-top: 0.5rem;
    padding: 0.5rem;
    text-transform: uppercase;
    background-color: #000;
}

.a__article_nav {
    padding: 1.5rem;
    color: #fff;
}

/* aside on section */

.aside__container {
    position: sticky;
    top: 1.5rem;
}


/* Position sticky */
.aside__sticky {
    position: sticky;
    top: 0.5rem;
}

.h2__aside {
    padding: 1rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    color: #fff;
    background-color: #aaa;
}


/* footer */
.footer {
    margin-top: 1rem;
    padding: 0.8rem;
    background-color: #000;
}

.p__footer {
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}



/* de 0 a 1150px cambios en header*/
@media all and (max-width:1150px) {
    .menu {
        flex-direction: column;
        align-items: center;
    }

}


/* de 0 a 920 px cambios en header y section (article y aside) */
@media all and (max-width:920px) {
    .menu__nav_span {
        display: none;
    }
    .section__container {
        display: block;
    }
    .aside__container{
        margin:clamp(1rem, 2rem, 3rem);
    }
}


/* de 0 a 520 px*/
@media all and (max-width:520px) {
    .header__item {
        height: auto;
    }
    .header__2{
    height: clamp(60vh, 65vh, 70vh); /* Este height acá para que el align item surta efecto */

    }
    .article__container{
        display: block;
    }
}